.wrap {
  padding: 10px;
}

@keyframes example {
  from {
    left: 0px;
  }
  to {
    left: 500px;
  }
}

.animation-move {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: red;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}