html,
body {
  height: 100%;
  margin: 0;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%
}

.connect .left,
  .connect .right {
  width: 200px;
  border: 1px solid #aaa;
  margin: 2px;
  overflow: hidden;
}

.connect .middle {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  overflow: hidden;
  margin: 2px;
  border: 1px solid #aaa;
}

div.svg svg {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0px solid rgba(0, 0, 0, 0)
}

div.svg svg.edit {
  border: 2px dashed red;
}

div.svg svg .dragline {
  stroke: #aaa;
  stroke-width: 4;
}

div.svg svg .link {
  stroke: #aaa;
  stroke-width: 4;
}

div.svg svg .line-hover {
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 30;
}

div.svg svg .awe {
  font-family: FontAwesome;
}

div.svg svg .rect {
  stroke: #aaa;
  stroke-width: 1;
  fill: #fff;
}

div.svg svg text {
  text-anchor: middle;
  fill: #000;
  pointer-events: none;
  stroke: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div.svg svg .selected {
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 5 5;
}

div.svg svg .cross {
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: none;
  fill: #fff;


  /* pointer-events: none; */
}

.hidden {
  display: none;
}

ul li {
  display: inline-block;
  padding: 10px;
  border: 1px solid #aaa;
}


/* div.svg svg .node {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
  fill: #aaa;
} */