div.svg svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid rgba(0, 0, 0, 0)
}

div.svg svg.edit {
  border: 2px dashed red;
}

div.svg svg .dragline {
  stroke: #aaa;
  stroke-width: 4;
}

div.svg svg .link {
  stroke: #aaa;
  stroke-width: 4;
}

div.svg svg .line-hover {
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 30;
}

div.svg svg .rect {
  fill: #aaa;
}

div.svg svg text {
  text-anchor: middle;
  fill: #000;
  pointer-events: none;
  stroke: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div.svg svg .selected {
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 5 5;
}

div.svg svg .cross {
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: none;
  fill: #fff;


  /* pointer-events: none; */
}

.hidden {
  display: none;
}


/* div.svg svg .node {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
  fill: #aaa;
} */
