.pie {
    width: 400px;
    height: 400px;
    & .c1 {
        fill: #fff;
        stroke: #655;
        stroke-width: 40;
        stroke-dasharray: 524 630;
    }
    & .c2 {
        fill: #fff;
        stroke: red;
        stroke-width: 40;
        stroke-dasharray: 20 630;
    }
}